[submodule "components/bootstrap-datetimepicker"]
	path = components/bootstrap-datetimepicker
	url = https://github.com/smalot/bootstrap-datetimepicker.git
[submodule "components/bootstrap"]
	path = components/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "components/jquery"]
	path = components/jquery
	url = https://github.com/components/jquery.git
[submodule "components/Font-Awesome"]
	path = components/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "components/bootstrap-modal"]
	path = components/bootstrap-modal
	url = https://github.com/jschr/bootstrap-modal.git
[submodule "components/Bootstrap-Image-Gallery"]
	path = components/Bootstrap-Image-Gallery
	url = https://github.com/blueimp/Bootstrap-Image-Gallery.git
[submodule "components/Gallery"]
	path = components/Gallery
	url = https://github.com/blueimp/Gallery.git
