extend layout
block content
  ol.breadcrumb
    li
      a(href=url("/"))= __("Index")
    li.active= table.alias
  if data && data.length
    form(method="get")
      include table
  else
    p.bg-info(style="padding:15px;") Empty data
  if data && data.length
    include pager
